# Data Science Tools and Ecosystem

## Author : 
Mbongeni Sithole

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Popular Data science tools will be listed
* List Commonly used Libraries by Data Scientists
* Table of Data Science Tools
* Basic Arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Sci-kit Learn
6. XG-Boost

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|IBM Watson|
|Apache SQL|
|Power BI|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335